@model IEnumerable<FITNESSGYM.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //User can only see Reservations that are not cancelled
            @if (item.Cancelled != Reservation.eCancelled.Yes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cancelled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdClient)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Session.Id)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-action="CancelReservation" asp-route-id="@item.Id">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input type="submit" value="Cancel Reservation" class="btn btn-primary" />
                                </div>
                            </form>
                        }
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
