@model FITNESSGYM.Models.Client

@{
}

<!-- Syle CSS appliqué--->
<link rel="stylesheet" media="screen" type="text/css" title="ledesigndetonindex" href="~/css/MyAccountStyle.css" />


<!-- view html-->


<body>
    <div class="main-content">
        <!-- Top navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block">My Account</a>
                
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <form action="https://localhost:7013/MyAccount" method="get">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder" src="~/Assets/MyAccount/David.jfif"> <!-- remplacer par model image-->
                                    </span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">@Model.FirstName @Model.LastName</span>
                                    </div>
                                </div>
                            </form>                                                     
                        </a>                                              
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../wwwroot/Assets/Site/Account2.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Hello @Model.FirstName ! </h1>
                        <p class="text-white mt-0 mb-5">This is your profile page. You can see and edit your informations. You can also see the progress you've made through time.</p>
                        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Page content -->
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                        <img src="~/Assets/MyAccount/David.jfif" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>                       
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading">2</span>
                                            <span class="description">Days since your last visit </span>
                                        </div>
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Number of visits</span>
                                        </div>
                                        <div>
                                            <span class="heading">3</span>
                                            <span class="description">Clubs visited</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h3>
                                    @Model.FirstName @Model.LastName<span class="font-weight-light"></span>
                                </h3>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>Paris, France
                                </div>
                                <!---<div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Member since 2022/09/01
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">My account</h3>
                                </div>                              
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-deck">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/info.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">My Informations</h4>
                                                <form action="https://localhost:7013/MyAccount/MyInformation" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/subsc4.jfif" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">My Subscription </h4>
                                                <form action="https://localhost:7013/MyAccount/MySubscription" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/reservation.png" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">My Reservations</h4>
                                                <form action="https://localhost:7013/MyAccount/MyReservations" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br /> <br />

                            <div class="card-deck">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/fav.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">My Favorites</h4>
                                                <form action="https://localhost:7013/MyAccount/MyFavorites" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/goal.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">My Goal</h4>
                                                <form action="https://localhost:7013/MyAccount/MyGoal" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img class="card-img-top" height="200" src="~/Assets/MyAccount/pass.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">Change Password</h4>
                                                <form action="https://localhost:7013/MyAccount/ChangePassword" method="get">
                                                    <button type="submit" class="btn btn-primary">Select</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>